<% provide(:title, "Contact us") %>

<div class="row">
	<div class="col-md-12">
		<div class="well">
			<h2>Drop us a line</h2>
			<div id="contact">
				<p class="lead">Question, concern, comment? Feel free to contact us.</p>
				<p>We're always interested in feedback, suggestions and general conversation about Muse Lyrics and the band in general. This
				site is run by fans, for fans and is always looking to improve itself.</p>
				<p>If you have something to say then let us know!</p>
				<p>To not contact us is...<%= madness_link %>.</p>

				<%= simple_form_for @message do |f| %>
					<%= f.input :name, label: "Your name" %>
					<%= f.input :email, label: "Your email address" %>
					<%= f.input :body, label: "Message" %>
					<%= f.submit "Send", class: "btn btn-primary" %>
				<% end %>
			</div>
		</div>
	</div>
</div>