<% @comments.each do |comment| %>
	<article id="<%= comment.id %>">
		<header>
			<div class="pull-left">
				<% if can? :upvote, comment %>
					<%= link_to like_comment_path(comment), method: :put, remote: true, class: "upvote" do %>
						<% if current_user.voted_up_on?(comment) %>
							<i class="glyphicon glyphicon-arrow-up upvote voted"></i>
						<% else %>
							<i class="glyphicon glyphicon-arrow-up upvote"></i>
						<% end %>
					<% end %>
				<% else %>
					<%= link_to login_path, class: "upvote", "data-toggle" => "tooltip",
						"data-placement" => "top", "title" => "Log In or Register to Upvote!" do %>
						<i class="glyphicon glyphicon-arrow-up upvote"></i>
					<% end %>
				<% end %>
				<span class="score"><%= comment.score %></span>
				<% if can? :downvote, comment %>
					<%= link_to dislike_comment_path(comment), method: :put, remote: true, class: "downvote"  do %>
				
						<% if current_user.voted_down_on?(comment) %>
							<i class="glyphicon glyphicon-arrow-down downvote voted"></i>
						<% else %>
							<i class="glyphicon glyphicon-arrow-down downvote"></i>
						<% end %>
					<% end %>
				<% else %>
					<%= link_to login_path, class: "upvote", "data-toggle" => "tooltip",
						"data-placement" => "top", "title" => "Log In or Register to Downvote!" do %>
						<i class="glyphicon glyphicon-arrow-down upvote"></i>
					<% end %>
				<% end %>
			</div>
			<span class="user-email">
			<%= link_to comment.user.username, 
				user_profile_path(comment.user.username.downcase) %>
			</span>
		</header>
		<div class="clearfix"></div>
		<div class="content"><%= simple_format comment.body %></div>
		<footer>
			<%= time_ago_in_words comment.created_at %> ago
			<% if can? :update, comment %>
				| 
				<%= link_to "Edit", edit_comment_path(comment) %>
			<% end %>
			<% if can? :destroy, comment %>
				<%= link_to "Destroy", comment, method: :delete, 
					data: { confirm: "Are you sure?" } %>
			<% end %>	
		</footer>
	</article>
	<br>
<% end %>