<div class="col-md-12">
	<div class="well">
		<h2><%= @user.username %></h2>

		<%= image_tag @user.avatar %>

		<%= link_to "Send private message", "#" %>

		<h3><%= user_status(@user) %></h3>
 
		<%= user_participation(@user) %>

		<% if @latest.any? %>
			<h4>Latest activity</h4>

			<% @latest.each do |latest| %>
			<article>
				<%= link_to latest.song.title, [latest.song.album, latest.song] %>
				<span class="glyphicon glyphicon-chevron-right"></span>
				<%= truncate(latest.body) do %>
					<%= link_to "(read more)",  [latest.song.album, latest.song, anchor: "#{latest.id}"] %> 
					<small><%= time_ago_in_words(latest.created_at) %> ago</small>
				<% end %>
 			</article>
			<% end %>
		<% end %>
	</div>
</div>	