<div class="row">
	<div class="col-md-6">
		<h1><%= link_to @song.album.title, @song.album %> <small><%= @song.title %></small></h1>

		<%= simple_format @song.lyrics %>

		<br>

		<% if can? :update, @song %>
		<p class="alert alert-warning">Wrong lyrics? <%= link_to "Fix them now!", edit_album_song_path(@album, @song), class: "alert-link" %></p>
		<% end %>
	</div>
	<div class="col-md-6">
		<h3>More from <%= @song.album.title %>...</h3>
		<ul>
		<%= render @songs %>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col-md-6 comments">
		<div id="comments-box">
			<h2>Comments <% if @comments.any? %><small><%= @comments.count %></small><% end %></h2>

		
				<% if @comments.any? %>
					<%= render 'comments/comments' %>
				<% else %>
					<p>No comments yet!</p>
				<% end %>
			</div>

			<%= render 'comments/new' %>
		</div>
	</div>
</div>