<div class="row">
	<div class="col-md-5">
		<h1><%= link_to @song.album.title, @song.album %><small> > <%= @song.title %></small></h1>

		<%= simple_format @song.lyrics %>

		<br>

		<% if can? :update, @song %>
		<p>Wrong lyrics? <%= link_to "Fix them now!", edit_album_song_path(@album, @song) %></p>
		<% end %>
	</div>
	<div class="col-md-7">
		<h3>More from <%= @song.album.title %>...</h3>
		<ul>
		<% @songs.each do |song| %>
			<li><%= link_to song.title, [song.album, song] %></li>
		<% end %>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col-md-5">
		<h2>Comments</h2>

		<% if @comments.any? %>
			<% @comments.each do |comment| %>
				<article>
					<%= simple_format comment.body %>
					<footer><%= comment.created_at %></footer>
				</article>
			<% end %>
		<% else %>
			<p>No comments yet!</p>
		<% end %>

		<%= simple_form_for @comment do |f| %>
			<%= f.input :body, label: false %>
			<%= f.hidden_field :song_id, value: @song.id %>
			<%= f.submit %>
		<% end %>
	</div>
</div>