<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @song.title %>
</p>

<p>
  <strong>Lyrics:</strong>
  <%= @song.lyrics %>
</p>

<p>
  <strong>Description:</strong>
  <%= @song.description %>
</p>

<%= link_to 'Edit', edit_album_song_path(@song.album, @song) %> |
<%= link_to 'Back', album_songs_path %>
