<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @album.description %>
</p>

<p>
  <strong>Year:</strong>
  <%= @album.year %>
</p>

<%= image_tag @album.image %>

<h2>Songs</h2>

<% @songs.each do |song| %>
	<%= link_to song.title, [song.album, song] %>
<% end %>

<br>

<%= link_to "New Song", new_album_song_path(@album) %>

<hr>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>

<%= link_to "Destroy", @album, method: :delete, data: { confirm: "Are you sure?" } %>