<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="description" content="MuseLyrics is a searchable lyrics database 
  featuring all of Muse's song lyrics from all of their albums. Use MuseLyrics 
  to find your favorite Muse lyrics.">
  </head>
<body>

<%= render 'layouts/nav' %>

<div class="container main">
	<%= render 'layouts/header' %>
	<%= render 'layouts/flash' %>
	<%= yield %>
	<%= render 'layouts/footer' %>
	<%= render 'layouts/ga' if Rails.env.production? %>
</body>
</html>
